target/
!.mvn/wrapper/maven-wrapper.jar

### ignore the swp file of Makefile ###
.Makefile.swp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Docker & CI ###
release.properties
pom.xml.releaseBackup

#### mac
.DS_Store
